# Don't include dotfiles...
.*
#...unless they're git's
!.git*

# Furthermore, exclude things on narc.ro that do not have anything to do with the web app
downloads/
toys/
tmp/

authorized_keys
*.pdf
google*.html
narc.ro*.html
sleep.html
zshrc
